.history-tabs {
  max-width: 450px;
  margin: 0 auto;
}

.history-tabs__btns {
  display: flex;
  gap: 5px;
  justify-content: space-between;
}

.history-tabs__content {
  display: none;
  margin-top: 20px;

  &.active {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
