.loading-bg {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-img {
  max-width: 100%;
  height: auto;
}
