.loading-bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./assets/main.png");
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-img {
  max-width: 100%;
  height: auto;
}
