.app-container {
  min-height: 100dvh;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Titan One", sans-serif;
  font-size: 14px;
  line-height: 1.2;
  color: rgba(88, 43, 2, 1);
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

input {
  outline: none;
}

html {
  scroll-behavior: smooth;
}
